body, html{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    background: #f3f3f3;
    color: #333;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header{
    text-align: center;
    padding: 50px 30px;
    background: rgba(152, 152, 152, 0.36);
    border-bottom: solid 2px rgba(100, 100, 100, 0.5);
}

header h2{
    font-size: 30px;
}

header p{
    color: #666;
    font-style: italic;
    font-size: 15px;
}

header p b{
    font-weight: bold;
}

#wrapper{
    max-width: 1000px;
    width: 90%;
    margin: 20px auto;
}

#wrapper .right{
    width: 252px;
    display: inline-block;
    vertical-align: top;
}

#wrapper .left{
    width: calc(100% - 270px);
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}

#wrapper h2{
    font-size: 20px;
    padding: 10px;
}

#wrapper pre{
    font-size: 0;
}

#wrapper pre code,
#wrapper pre a{
    font-size: 14px;
}

#wrapper pre a{
    cursor: pointer;
    background: #474949;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #777;
}

#wrapper pre a:hover {
    color: #ccc;
}

#wrapper pre a.active{
    color: #62ff62;
}

#wrapper pre code{
    padding: 10px;
    font-family: Monospaced, monospace, Arial, sans-serif;
    border: solid 1px #333;
}

#wrapper canvas{
    margin-top: 25px;
    width: 250px;
    height: 250px;
    border: solid 1px rgba(100, 100, 100, 0.5);
}

#wrapper section p{
    font-style: italic;
    padding: 10px 10px 20px;
}

#wrapper hr{
    margin: 10px auto;
    width: 80%;
    border: none;
    border-bottom: solid 1px rgba(100, 100, 100, 0.2);
}

#wrapper .nav{
    text-align: center;
}

#wrapper .nav li{
    display: inline-block;
}

#wrapper .nav li a{
    margin: 0 10px;
    display: inline-block;
    padding: 10px 20px;
    border: solid 1px #333;
    cursor: pointer;
}

#wrapper .nav li:hover a{
    background: rgba(51, 51, 51, 0.3);
}

#wrapper section code.head{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    padding: 10px;
    background: rgba(100, 100, 100, 0.1);
}

#wrapper section > ul{
    margin-left: 10px;
    padding: 10px;
    list-style: disc;
}

#wrapper section ul li{
    padding: 2px;
}

#wrapper section ul li > ul{
    list-style: circle;
    padding-left: 20px;
}

#wrapper .tabs code{
    display: block;
}

#wrapper .tabs code:not(:first-of-type){
    display: none;
}

#wrapper .footer a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#wrapper .footer{
    text-align: right;
}